<body>
  <div class="top-header">
    <div class="social-icons">
      <i>
        <mat-icon >
          <svg class="fb" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
            <path
              fill="#ffffff"
              d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"
            />
          </svg>
        </mat-icon>
      </i>
      <i>
        <mat-icon>
          <svg class="insta" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
              fill="#ffffff"
              d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
            />
          </svg>
        </mat-icon>
      </i>

      <i >
        <mat-icon >
          <svg class="whatsapp"  viewBox="0 0 448 512">
            <path
              fill="#ffffff"
              d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7 .9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"
            />
          </svg>
        </mat-icon>
      </i>
    </div>
    <div class="location">Current Location: Hyderabad</div>
    <div class="contact">
      <span>
        <a class="email" href="">Email-us</a>
      </span>
      <span>+91-9108114321</span>
    </div>
  </div>

  <div class="navbar">
    <img
      src="https://gourmetgarden.in/cdn/shop/files/Logo_Shopify-removebg-preview_1_256x.png?v=1703481309"
      alt="Gourmet Garden Logo"
      class="logo"
      routerLink="/Vegetables"
    />
    <div class="search-link">

      <form>
        <input
          type="text"
          class="search-bar"
          placeholder="Search"
          (input)="searchbyName($event)"
          #filter
        />
      </form>
      
      <div class="mobile-nav">
        <mat-icon>menu</mat-icon>
      </div>

      <div class="nav-links">
        <div>
          <select class="form-control" id="categorySelect" routerLink="/Vegetables"  #vegcategorySelect (change)="onCategoryChangeForVeg(vegcategorySelect.value)">
            <option class="fV" >Fresh Vegetables</option>
            <option value="fresh">Fresh</option>
            <option value="traditional">Traditional</option>
            <option value="organic">Organic</option>
          </select>
        </div>
      
        <div>
          <select class="form-control" id="categorySelect" routerLink="/fruits"  #fruitscategorySelect (change)="onCategoryChangeForFruits(fruitscategorySelect.value)">
            <option class="fV" >Fresh Fruits</option>
            <option value="fresh">Fresh</option>
            <option value="traditional">Traditional</option>
            <option value="organic">Organic</option>
          </select>
        </div>
      
        <div>
          <select class="form-control" id="categorySelect" routerLink="/Leafy"  #leafycategorySelect (change)="onCategoryChangeForLeafy(leafycategorySelect.value)">
            <option >Green Leafs</option>
            <option value="fresh">Fresh</option>
            <option value="traditional">Traditional</option>
            <option value="organic">Organic</option>
          </select>
        </div>
      
        <div>
          <select class="form-control" id="categorySelect" routerLink="/grains"  #grainscategorySelect (change)="onCategoryChangeForGrains(grainscategorySelect.value)">
            <div class="dd-opt">
            <option >Grains</option>
            <option value="fresh">Fresh</option>
            <option value="traditional">Traditional</option>
            <option value="organic">Organic</option>
          </div>
          </select>
        </div>
      
        <div>
          <select class="form-control" id="categorySelect" routerLink="/spices"  #spicescategorySelect (change)="onCategoryChangeForSpices(spicescategorySelect.value)">
            <option >Spices</option>
            <option value="fresh">Fresh</option>
            <option value="traditional">Traditional</option>
            <option value="organic">Organic</option>
          </select>
        </div>
      </div>
    </div>
    <div class="icons"   >
      <mat-icon (click)="openLoginPopUp()">
        account_circle
      </mat-icon>

      <div class="login" *ngIf="isLoginVisible">
        <button (click)="closeLoginPopUp()" class="close-btn">
          <mat-icon>close</mat-icon>
        </button><br>
        <div>
          <img src="https://gourmetgarden.in/cdn/shop/files/Logo_Shopify-removebg-preview_1_256x.png?v=1703481309"
          alt="Gourmet Garden Logo"
          class="logo2">

      </div>
      
      <h2 style="text-align: center;">Sign in</h2>
      <hr>
      <label style="font-size: small; padding-left: 10px;" for="ph-no">Phone Number</label><br>
      <input id="ph-no" class="phone-num" type="tel" placeholder="number"><br>
      <button mat-raised-button style="background-color: #85a75a; margin-left: 2.8cm; margin-top: 20px;" (click)="closeLoginPopUp()" >Submit</button>
      </div>

      <mat-icon>
        location_on
      </mat-icon>


      <mat-icon  (click)="openCartPopUp()" >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="80 -860 960 960" height="30px"><path d="M284.53-80.67q-30.86 0-52.7-21.97Q210-124.62 210-155.47q0-30.86 21.98-52.7Q253.95-230 284.81-230t52.69 21.98q21.83 21.97 21.83 52.83t-21.97 52.69q-21.98 21.83-52.83 21.83Zm400 0q-30.86 0-52.7-21.97Q610-124.62 610-155.47q0-30.86 21.98-52.7Q653.95-230 684.81-230t52.69 21.98q21.83 21.97 21.83 52.83t-21.97 52.69q-21.98 21.83-52.83 21.83ZM238.67-734 344-515.33h285.33l120-218.67H238.67ZM206-800.67h589.38q22.98 0 34.97 20.84 11.98 20.83.32 41.83L693.33-490.67q-11 19.34-28.87 30.67-17.87 11.33-39.13 11.33H324l-52 96h487.33V-286H278q-43 0-63-31.83-20-31.84-.33-68.17l60.66-111.33-149.33-316H47.33V-880h121.34L206-800.67Zm138 285.34h285.33H344Z"/></svg>
      </mat-icon>
      <span *ngIf="productCount>0" class="badge">
          {{productCount}}
      </span>

      <div class="cart" *ngIf="isCartVisible" >
        <button (click)="closeCartPopUp()" class="close-btn">
          <mat-icon>close</mat-icon>
        </button>
        <h2>Your Cart</h2>

        <div *ngFor="let item of cartItems$ | async" class="cart-card">
          <div>
            <img class="item-img" [src]="item.image" alt="" />
          </div>
          <div class="prod">
            <p>{{ item.product_name }}</p>
          </div>
          <div class="count-btn">
            <button class="dec-btn" (click)="actions.decrementBtn(item)">-</button>
            <span class="count">{{ item.count }}</span>
            <button class="inc-btn" (click)="actions.incrementBtn(item)">+</button>
          </div>
          <div class="delete-btn">
            <button class="del-btn" (click)="removeFromCart(item.id, item.product_name)">
              <mat-icon> delete </mat-icon>
            </button>
          </div>
        </div>
        <div>
          <button mat-raised-button routerLink="/cartpage" (click)="closeCartPopUp()" style="background-color:#85a75a;color: white; float: right; margin-right: 20px;">Checkout</button>
        </div>
      </div>
    </div>
        
    </div>
  <router-outlet/>

  <div class="last">
    <div>
      <ul>
        <li style="text-decoration: none; font-size: medium;"><b>My Account</b></li>
        <li>Login / Register</li>
        <li>Wallet / Loyalty Reward</li>
        <li>Harvest Rewards Program</li>
      </ul>
    </div>
    <div>
      <ul>
        <li style="text-decoration: none ; font-size: medium;"><b>Cuatomer Service</b></li>
        <li>Contact Us</li>
        <li>Delivery Information</li>
        <li>Privacy Policy</li>
        <li>Terms Of Service</li>
        <li>FAQs</li>
      </ul>
    </div>
    <div>
      <ul>
        <li style="text-decoration: none; font-size: medium;" ><b>Company</b></li>
        <li>About Us</li>
        <li>Blogs</li>
        <li>Join Hands with GG</li>
        <li>Jobs</li>
        <li>News Room</li>
        <li>Partner Agent Login</li>
      </ul>
    </div>
    <div class="social-icons2">
      <i>
        <mat-icon >
          <svg class="fb" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
            <path
              fill="#ffffff"
              d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"
            />
          </svg>
        </mat-icon>
      </i>
      <i>
        <mat-icon>
          <svg class="insta" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
              fill="#ffffff"
              d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
            />
          </svg>
        </mat-icon>
      </i>
  
      <i >
        <mat-icon >
          <svg class="whatsapp"  viewBox="0 0 448 512">
            <path
              fill="#ffffff"
              d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7 .9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"
            />
          </svg>
        </mat-icon>
      </i>
    </div>
  </div>
  
  <app-test></app-test>
  
  </body>



